body {
background-color: black;
   color: white;
   
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #main-content{
text-align: justify;
  }


#top{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


}

#logo{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 400px;
    


}
#img-logo{
    width: 50px;
    height: 50px;
    
}

#top ul{
    display: flex;
    gap: 30px;
    list-style: none;
    
    
}
#top a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#top a:hover{
   opacity: 10%;
}
#content{
display: flex;
align-items: center;
justify-content: space-evenly;
 margin:150px;

}
#left-content{
width: 400px;
display: flex;
flex-direction: column;

}
#right_content{
width: 400px;
height: 500px;



}
#right_content p{
    font-size: 18px;

    
}
#right_content a{
    color: white;
        
}
#right_content hr{
    opacity: 0.5;
            
}
.column {
    margin-bottom: 100px;
    
}
#big-text{
    font-size: 50px;
    margin-bottom: 0;

}


#left-content button{
 
        background-color: #4169E1;
        color: white;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 24px;
        cursor: pointer;
        width: 80px;
        height: 80px;
        align-self: center;
    
}
#left-content button:hover{
    background-color: #1E90FF;
}